/* all the properties I used 
1.colour, 2.font-size, 3.background-color, 4.font-style, 5.text-align, 6.margin-top, 7.margin-left, 8.border-style, 9.border-width,10.border-color,11.font family 12.position, 13. padding 14.border,15.border-radius 16.box-shadow 17.text-shadow 18. text-decoration 19.letter spacing 20. word-spacing*/
/* Requirements

*Create a new file called "main.css"
*Add a link element to the head of your index.html file
<link rel="stylesheet" href="main.css" type="text/css">
*Edit the main.css file
*add a declaration for each element in the body of your index.html file.
*add properties to style the background color of each element.
*add properties to style the border of each element.
*add properties to style the font and text of each element.
*Use at least 20 different properties. Include a list of these 20 at the TOP of your main.css file as a css comment.
*Use at least 4 different units to set sizes of various aspects of your webpage.
*Go learn something from 2 classmates; add a comment to your main.css file that describes what you learned.
*View your index.html in the development server.
*Validate your index.html file.
*Validate your main.css file.
*Copy this list of requirements and paste it into the top of your "main.css" file as a css comment. Put an asterisk in front of each one that you did.
*Upload to the production server with sftp.
*View your index.html in the production server.*/
/*1. I learnt how to upload the production server with sftp 2.I learnt how to view my development server while I work on this project*/

html{
	background-color: black;
	margin-top: 30px;
	background: -webkit-radial-gradient(MidnightBlue, Aqua , White);
}

	 
	body{
	color: navy;
}

h1{
	border: 5px dotted black;
    	padding:35px;
    	background: #FFFFcc;
	font-style: oblique;
	text-shadow: 2px 2px 2px purple;
	font-size: 36px;
	border-radius: 15px 45px; 
	margin-top: 25px;
}
	
	
h1, h2{
	color: black;
	margin-bottom: 25px;
	text-align: center;
	text-decoration: underline;
}

p{
	border-style: double;
	border-width: 5px;
	border-color: #000066;
	font-family: "Comic Sans MS", cursive, sans-serif;
	margin: 5px;
	box-shadow: 10px 10px 5px #888888;
	padding-top: 10px;
	padding-right: 20px;
	padding-left: 25px;
	padding-bottom: 20px;
	text-decoration: underline;
}
div{

    border: 15px solid green;
    padding: 25px;
    margin: 25px;
}
h2 h3{
	border: none;
	box-shadow: none;
	font-size: 15px;
	text-decoration: none;
	text-align: left;
	
}
footer{
	margin: 20px;
	position: absolute;
	color: #4B0082;
	letter-spacing: 1px;
	word-spacing: 1.5px;
}
